@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% { transform: translateY(0) }
  50% { transform: translateY(-6px) }
  100% { transform: translateY(0) }
}
.float { animation: float 4s ease-in-out infinite }
